.repl_history

build
tags
nbproject

resources/*.nib
resources/*.momd
resources/*.storyboardc

.DS_Store
.redcar
#*#
*~
*.sw[po]

.eprj
.sass-cache
.idea
.dat*.*
.bundle
.ruby-version

vendor/Pods

ib.xcodeproj/project.xcworkspace/
ib.xcodeproj/xcuserdata/

provisioning_profile/
